html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#intro {
  width: 180px;
  height: 18px;
  font-family: DINPro;
  font-size: 18.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.97;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  margin: 1% 3%;
}

#collegeDetails {
  margin: 10px;
  white-space: nowrap;
}

.cardColumn {
  float: left;
  margin: 2% 1%;
  width: 47%;
  height: 57vh;
  border-radius: 3.8px;
  box-shadow: 0 0 19px 0 rgba(68, 68, 68, 0.1);
  border: solid 0.2px #444444;
  background-color: white;
  white-space: nowrap;
}

.card {
  padding: 0px;
  margin: 0px;
  text-align: center;
  white-space: nowrap;
}





/*Card Details*/
.image {
  position: relative;
  /*background-image:url("Images/college_02.jpg");*/
  height: 28vh;
  background-position: center;
  background-size: cover;
  -webkit-filter: brightness(0.50);
  white-space: nowrap;
}


.imagePart {
  position: relative;
  height: 28vh;
  /*-webkit-filter: brightness(1.75);*/
  white-space: nowrap;
}

.tags {

  display:inline;
  width: 135px;
  height: 25px;
  border-radius: 16.5px;
  background-color: white;
  position:absolute;
  bottom: 1px;
  left: 0;
  margin: 1%;
  float: left;
  white-space: nowrap;
}

.tags2 {
  display:inline;
  width: 110px;
  height: 25px;
  border-radius: 16.5px;
  background-color: white;
  position:absolute;
  margin-left: 15%;
  white-space: nowrap;
}


.tags-text {
  /*width: 100px;
  height: 13px;*/
  font-family: DINPro;
  font-size: 13.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 25px;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
}


.ratings {
  width: 75px;
  height: 53px;
  border-radius: 3.8px;
  background-color: #f5a626;
  position: absolute;
  top: 15px;
  right: 10px;

}

.ratings-text {
  width: 57px;
  height: 53px;
  font-family: DINPro;
  font-size: 13.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 25px;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin-left: 7px;
}

.ratings-text .text-style-1 {
  font-size: 18.5px;
  font-weight: bold;
}

.rankings {
  width: 100%;
  height: 13px;
  font-family: DINPro;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: right;
  color: white;
  position: absolute;
  right: 0;
  bottom: 8px;
  margin: 1%;
  -webkit-filter: brightness(1.75);
}


.collegePart {
  position: relative;
  white-space: nowrap;
  height: 28vh;
}

.collegeName {
  position: absolute;
  width: auto;
  height: 17px;
  font-family: DINPro;
  font-size: 18.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.97;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  margin: 15px;
  white-space: normal;
}

.stars {
  display: inline;
  white-space: normal;
  left: 2px;
  margin-left: 4px;
}

.discountTag {
  position: absolute;
  float: right;
  right: 10px;
  top: 5px;
}

.origFees {
  width: 37px;
  height: 10px;
  font-family: DINPro;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 10px;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  position: absolute;
  right: 40px;
  top:12px;
  font-family: Myriad Pro;
  font-weight: normal;
}

.discFees {
  width: 85px;
  height: 26px;
  font-family: DINPro;
  font-size: 28.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: normal;
  text-align: center;
  color: #dd1c26;
  float: right;
  position: absolute;
  right: 9px;
  top:35px;
}

.nearestPlaces {
  width: 196px;
  height: 13px;
  font-family: DINPro;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  position: absolute;
  top:5vh;
  margin: 15px;
}

.morePlaces {
  width: 157px;
  height: 13px;
  font-family: DINPro;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #adadad;
}

.match {
  font-weight: bold;
  color: #37b396;
}
.famousPlaces {
  width: 358px;
  height: 13px;
  font-family: DINPro;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #adadad;
  position: absolute;
  top:11vh;
  margin: 15px;
  white-space: nowrap;
}
.kms {
  font-weight: bold;
  color: #444444;
}

.feesCycle {
  width: 106px;
  height: 10px;
  font-family: Myriad Pro;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  position: absolute;
  right: 24px;
  top:65px;
}

.offer {
  width: 347px;
  height: 35px;
  background-color: #ccf5e7;
  position: absolute;
  bottom: 5px;
  border-radius: 0 20px 20px 0;
}
.offerText {
  width: 309px;
  height: 13px;
  font-family: DINPro;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 32px;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  white-space: nowrap;
}

.amenities {
  width: 101px;
  height: 10px;
  font-family: DINPro;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #37b396;
  position: absolute;
  bottom: 0;
  right: 80px;
  bottom: 25px;
}
